openapi: 3.1.0
info:
  title: Adobe Photoshop Actions Status API
  description: A cloud-based REST API that provides programmatic access to Photoshop's image editing capabilities without requiring a local installation. Part of Adobe Firefly Services, the API supports PSD document operations including layer editing, Smart Object replacement, text layer editing, rendition creation, and artboard management. It also provides AI-powered features such as background removal, mask creation, product crop, and depth blur. All operations are asynchronous, returning a polling URL to check job status.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/photoshop-appicon-256.png
servers:
- url: https://image.adobe.io
  description: Adobe Photoshop API Production
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Status
  description: Poll for the status of asynchronous jobs.
paths:
  /pie/psdService/status/{jobId}:
    get:
      operationId: getPsdJobStatus
      summary: Adobe Photoshop Get PSD Service Job Status
      description: Polls the status of an asynchronous PSD service job. Returns the current status (pending, running, succeeded, failed) along with output details upon completion.
      tags:
      - Status
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job status retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sensei/status/{jobId}:
    get:
      operationId: getSenseiJobStatus
      summary: Adobe Photoshop Get Sensei Service Job Status
      description: Polls the status of an asynchronous Sensei AI service job such as background removal or mask creation.
      tags:
      - Status
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job status retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed or token expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          description: Error type code.
          example: image
        title:
          type: string
          description: Human-readable error description.
          example: example_value
        code:
          type: integer
          description: HTTP status code.
          example: 1920
        details:
          type: object
          properties:
            reason:
              type: string
            name:
              type: string
              description: Parameter name causing the error.
    JobStatusResponse:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
          description: Unique job identifier.
          example: job_abc123
        created:
          type: string
          format: date-time
          description: Job creation timestamp.
          example: example_value
        modified:
          type: string
          format: date-time
          description: Last status update timestamp.
          example: example_value
        outputs:
          type: array
          items:
            type: object
            properties:
              input:
                type: string
                description: Original input file path or URL.
              status:
                type: string
                enum:
                - pending
                - running
                - succeeded
                - failed
                description: Current job status.
              _links:
                type: object
                properties:
                  self:
                    type: object
                    properties:
                      href:
                        type: string
                      storage:
                        type: string
              errors:
                type: object
                description: Error details if status is failed.
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  description: URL to this status resource.
  parameters:
    JobId:
      name: jobId
      in: path
      required: true
      description: The unique job identifier returned when the job was created.
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3 using client_credentials grant type.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your Adobe Developer Console Client ID.
externalDocs:
  description: Adobe Photoshop API Documentation
  url: https://developer.adobe.com/firefly-services/docs/photoshop/
